* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  background: #333;
}

.banner {
  background: #222;
  padding: 1.2rem;
  text-align: center;
}

header {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
}

h2 {
  margin-bottom: 1%;
}

.lines {
  max-width: 90%;
  margin: 0 auto;
}

.line1 {
  border-bottom: 3px solid white;
  margin-bottom: 5px;
}

.line2 {
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

form fieldset {
  border: none;
}

form fieldset legend {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.contact {
  border-bottom: 3px solid white;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.contact input,
select {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: #ccc;
  border: none;
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
}

input:focus {
  background: #fff;
  border-bottom: #2196F3 3px solid;
  outline: 0;
}

select:focus {
  outline: none;
}

input::placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 1%;
}

.input-group #zip {
  width: 50%;
}

.newsletter {
  margin-top: 2rem;
}

.input-group2 {
  margin-bottom: 3%;
}

.newsletter p {
  font-size: 1.1rem;
  margin-bottom: 3%;
}

.newsletter input {
  margin-bottom: 5%;
}

.check-radio {
  margin-right: 3%;
}

textarea {
  margin-top: 3%;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  font-family: 'Noto Sans', sans-serif;
  resize: none;
  background: #ccc;
  transition: ease-in-out 0.2s;
}

textarea:focus {
  background: #fff;
  border-bottom: #2196F3 3px solid;
}

.btn {
  padding: 1.1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background: #2196F3;
  border: none;
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: ease-in-out 0.2s all;
}

.btn:hover {
  filter: brightness(125%);
}

.copy {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
}
/* media query */
@media (min-width: 768px) {
  .container {
    max-width: 60%;
  }

  .lines {
    max-width: 60%;
  }

  form fieldset legend {
    margin-bottom: 3%;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input-group label {
    flex: 1;
    align-self: center;
  }

  .input-group input, select {
    flex: 3;
  }

  .input-group #zip {
    flex: 1;
    margin-right: 48%;
  }

  .newsletter p {
    margin-bottom: 1%;
  }

  .newsletter input {
    margin-bottom: 1%;
  }

  .check-radio {
    margin-right: 1%;
  }
}